.env
planning.txt
.vs
/temp/build/CMakeFiles
/temp/build/Debug/pizza.exp
/temp/build/Debug/pizza.lib
/temp/build/Debug/pizza.pdb
/temp/build/Pizza.dir
/temp/build/x64
/temp/build/ALL_BUILD.vcxproj
/temp/build/ALL_BUILD.vcxproj.filters
/temp/build/cmake_install.cmake
/temp/build/CMakeCache.txt
/temp/build/Pizza.sln
/temp/build/Pizza.vcxproj
/temp/build/Pizza.vcxproj.filters
/temp/build/ZERO_CHECK.vcxproj
/temp/build/ZERO_CHECK.vcxproj.filters